
// .gray {
//   color:#F3F3F3;
//   text-shadow: 0 0 0 0.1;
// }

.blue {
  color: #2885e2;
}

.orange{
  color:#E44D27;
}

.jaune {
  color: #E8883E;
}
// .duck-blue{
//   color:rgb(17, 93, 93);
// }

// .white {
//   color: white;
//   text-shadow: 0 0 0 0.1;
// }

// .black {
//   color: black;
// }
