
.background-computer-4 {
  height: 95vh;
  position: relative;
}
.background-computer-4::before {
  background: url("./working_place1.jpg");
  background-size: cover;
  content: "";
  opacity: 0.50;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.index-title {
  position: relative;
  color: #EDB703;
  padding-top: 15vh;
  padding-bottom: 5vh;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.8rem;
}

.index-slogan {
  position: relative;
  color: #FCFCFC;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
}


.articles-container {
  position: relative;
  border-top: 2px solid #FCFCFC;
  max-height: 50vh;
  width: 60vw;
  padding: 5vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y:auto;
}


.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-size: 2rem;
  opacity: 0.6;
  & a {
    color: #FCFCFC;
    font-weight: bold;
  }
}

.article:hover {
  opacity: 1;
  transition: 0.7s ease;
}


.new-article {
  font-size: 1.8rem;
  opacity: 0.8;
}

// .new-article:hover {
//   color: #EDB703;
//   opacity: 1;
// }

.log-out {
  font-size: 1.8rem;
  opacity: 0.8;
}

// .log-out:hover {
//   color: #167247;
//   opacity: 1;
// }

.fa-mug-saucer {
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  &:hover {
    color: rgb(38, 38, 38);
  }
}




@media screen and (max-width:1200px) {

  .index-title {
    font-size: 3rem;
  }

  .articles-container {
    max-height: 45vh;
  }

  .article {
    font-size: 1.6rem;
  }

}

@media screen and (max-width:1000px) {
  .index-title {
    font-size: 2.7rem;
  }

  .index-slogan {
    font-size: 1.4rem;
  }
}

@media screen and (max-width:870px) {
  .index-title {
    font-size: 2.4rem;
  }

  .index-slogan {
    font-size: 1.2rem;
  }

  .article {
    font-size: 1.3rem;
  }
}

@media screen and (max-width:480px) {
  .index-title {
    font-size: 2rem;
  }

  .index-slogan {
    font-size: 1rem;
  }

  .article {
    font-size: 1.1rem;
  }
}

@media screen and (max-width:370px) {
  .index-title {
    font-size: 1.8rem;
  }

  .index-slogan {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    padding: 0 2vw;
  }

  .articles-container {
    padding: 0;
    padding-top: 5vh;
  }

  .article {
    font-size: 0.9rem;
  }
}
