
.index-title {
  margin-top: 10vh;
  // color: #FCFCFC;
  color: #EDB703;
  width: 100vw;
  padding-bottom: 3vh;
  font-size: 3rem;
  width: 100vw;
  text-align: center;
  letter-spacing: 0.8rem;
}

.index-slogan {
  width: 100vw;
  text-align: left;
  font-size: 1.2rem;
  padding-left: 15vw;
}


.articles-container {
  padding-left: 5vh;
  padding-right: 5vh;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 20vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  overflow-x:hidden;
  overflow-y:auto;
}


.article-container {
  // border: 0.5px solid white;
  // box-shadow: 1px 1px 3px #B6B4BB;
  margin-top: 5vh;
  border-radius: 4px;
  opacity: 0.8;
  min-height: 30vh;
  // cursor: pointer;
}

.article-container:hover {
  opacity: 1;
  transition: 0.7s ease;
}

.article-title {
  color: white;
  padding: 10px;
  font-size: 2rem;
  // opacity: 0.5;
  & a {
    text-decoration: underline;
    color: #FCFCFC;
    font-weight: bold;
    color: white;
  }
}

.article-body {
  max-width: 70vw;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
  color: white;
}


.fa-mug-saucer {
  color: black;
}

.read-article {
  margin: 10px;
}
.read-article a {
  color: #EDB703;
  font-size: 1.2rem;
  font-style: italic;
}
