
.index-title {
  margin-top: 10vh;
  // color: #FCFCFC;
  color: #EDB703;
  width: 100vw;
  padding-bottom: 5vh;
  font-size: 4rem;
  width: 100vw;
  text-align: center;
  letter-spacing: 0.8rem;
}

.index-slogan {
  width: 100vw;
  text-align: center;
  font-size: 1.5rem;
  // padding-left: 0vw;
  letter-spacing: 0.7rem;
}


.articles-container {
  // border: 2px solid red;
  max-height: 55vh;
  padding: 10vh;
  // padding-left: 5vh;
  // padding-right: 5vh;
  margin: 0 auto;
  // width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y:auto;
}


.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  // border: 0.5px solid white;
  // box-shadow: 1px 1px 3px #B6B4BB;
  // margin-top: 5vh;
  // border-radius: 4px;
  opacity: 0.6;
  // min-height: 30vh;
  // cursor: pointer;
}

.article-container:hover {
  opacity: 1;
  transition: 0.7s ease;
}

.article-title {
  // color: white;
  // padding: 10px;
  font-size: 2rem;
  // opacity: 0.5;
  & a {
    // text-decoration: underline;
    color: #FCFCFC;
    font-weight: bold;
    // color: white;
  }
}

.article-body {
  max-width: 70vw;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
  color: white;
}


.fa-mug-saucer {
  color: black;
}

.read-article {
  margin: 10px;
}
.read-article a {
  color: #EDB703;
  font-size: 1.2rem;
  font-style: italic;
}

.new-article {
  font-size: 1.8rem;
  opacity: 0.8;
}

.new-article:hover {
  color: #EDB703;
  opacity: 1;
}

.log-out {
  font-size: 1.8rem;
  opacity: 0.8;
}

.log-out:hover {
  color: #167247;
  opacity: 1;
}

.fa-mug-saucer {
  position: absolute;
  bottom: 0;
  right: 0;
  &:hover {
    color: rgb(38, 38, 38);
  }
}

// .translate-x-30 {
//   transform: translateX(-15vh);
//   transition: 0.7s ease-out;
// }

// .transform-x-40 {
//   transform: translateX(-40vh);
//   transition: 0.7s ease-out;
// }
