.article-picture {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.article-body-show {
  width: 100vw;
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 1.5rem;
}

.btn-show {
  width: 20vw;
  margin: 0 auto;
}

.btn-show ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
