.body {
  min-height: 100vh;
  margin-bottom: 0;
  background-color: black;
  color: #EDB703;
}

.about-title {
  color: white;
  margin: 5%;
  border-bottom: 1px solid white;
  width: 50%;
}

.margin-300{
  margin-top: 300px;
}

.margin-20{
  margin: 20px;
}

.btn a{
  color: white;
}


.arrow-direction {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.fa-arrow-down-long, .fa-arrow-up-long {
  font-size: 2rem;
  color: white;
  margin: 10px;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
}

.fa-arrow-down-long:hover{
  color: #085ED6;
  background-color: #EDB703;
  transition-duration: 0.3s;
}

.fa-arrow-up-long:hover{
  color: #085ED6;
  background-color: #EDB703;
  transition-duration: 0.3s;
}

.intro-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.container-welcome {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 50%;
  gap: 2rem;
}

.paragraph {
  width: 75%;
}

.border-white {
  margin-top: 50px;
  width: 40px;
  border-top: 1px solid white;
}

.border-bottom {
  margin: 10px;
  border-bottom: 1px solid white;
}

.border-left {
  border-left: 2px solid white;
  margin-left: 20px;

  & p {
    margin: 20px 30px;
  }
  & ul {
    margin: 2rem;
  }
}


.container-center {
  display: flex;
  justify-content: center;
}
.container-journey {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-experience {
  display: flex;
  justify-content: space-evenly;
}

.container-scroll {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 500px;
  padding: 2%;
  border-left: 2px solid white;
  overflow-x:hidden;
  overflow-y:auto;
}

.about-experience {
  width: 40%;
}

.container-skills {
  display: flex;
  justify-content: center;
}

.container-article{
  margin: auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.pad-5 {
  padding: 5%;
}

.dash {
  border: 4px solid red;
  background: #F5A7B3;
  border-radius: 20px 0px 0px 20px;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}


@media screen and (max-width:900px){
  .intro-container {
    flex-direction: column;
  }

  .paragraph {
    width: 100%;
    text-align: center;
  }

  .border-white {
    display: none;
  }

  .about-title, .display-3 {
    text-align: center;
    font-size: 2rem;
  }

  .container-welcome {
    margin: 30px;
  }

  .paragraph-journey {
    width: 70%;
  }

  .navbar .logo {

  }
  .navbar .fa-bars {

  }
}
