h2 {
  text-align: center;
}


.margin-20 {
  margin-top: 20vh;
}

.margin-5 {
  margin-top: 5vh;
}


.btn a{
  color: white;
}

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.marg-left-30 {
  margin-left: 30px;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.title {
  margin: 30px;
}

.border-white {
  margin-top: 50px;
  width: 40px;
  border-top: 1px solid white;
}

.border-bottom {
  margin: 10px;
  border-bottom: 1px solid white;
}

.paragraph {
  max-width: 50vw;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.paragraph-journey {
  max-width: 75vw;
}


.yellow-title {
  color: #EDB703;
  border-bottom: 1px solid white;
  max-width: 40vw;
}

.btn-warning {
  color: white;
}

.btn-warning:hover {
  color: white;
}

.list-none {
  list-style: none;
}

.intro-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
}

.container-welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: flex-start;
  gap: 2rem;
}

.container-journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // height: 75vh;
}

.container-experience {
  display: flex;
  justify-content: space-evenly;
  min-height: 70vh;
  align-items: stretch;
}

.container-scroll {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  padding: 10px;
  border-left: 2px solid white;
  overflow-x:hidden;
  overflow-y:auto;
}

.about {
  max-width: 45vw;
  min-height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-skills {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.container-article{
  margin: auto;
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 80vh;
}

.skills {
  min-height: 100vh;
}

.arrow-direction {
  display: flex;
  width: 100%;
  justify-content: center;
  // margin-bottom: 10vh;
}

.fa-hand-point-right {
  font-size: 2rem;
}

.fa-arrow-down-long, .fa-arrow-up-long {
  font-size: 2rem;
  color: white;
  margin: 10px;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
}

.fa-arrow-down-long:hover{
  color: #085ED6;
  background-color: #EDB703;
  transition-duration: 0.3s;
}

.fa-arrow-up-long:hover{
  color: #085ED6;
  background-color: #EDB703;
  transition-duration: 0.3s;
}








@media screen and (max-width:900px){


  .margin-20 {
    margin: 5vh;
  }

  .intro-container {
    flex-direction: column;
    gap: 0;
  }

  .avatar {
    width: 240px;
    height: 240px;
    border-radius: 120px;
  }

  .container-welcome {
    align-items: center;
    width: 100vw;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .paragraph-journey {
    // display: flex;
    // flex-direction: column;
    // width: 100vw;
    border-left: 2px solid white;
    height: 40vh;
    padding: 10px;
    overflow-x:hidden;
    overflow-y: auto;
  }


  .flex-column h2 {
    text-align: center;
  }

  .container-experience {
    display: flex;
    flex-direction: column;
    // min-width: 100vw;
  //   // justify-content: space-evenly;
  //   // min-height: 70vh;
  }

  .about {
    max-width: 100vw;

    & .btn {
      display: none;
    }
    & .border-white {
      display: none;
    }
  }


  .container-scroll {
  //   display: flex;
  //   flex-direction: column;
    width: 75vw;
  //   height: 60vh;
  //   padding: 10px;
  //   border-left: 2px solid white;
  //   overflow-x:hidden;
  //   overflow-y:auto;
  }


  .container-skills {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }

  .container-skills .btn {
    display: none;
  }

  .container-article {
    margin: 0 40px;
    // width: 65%;
    & .btn {
      margin-top: 20px;
    }
  }

  .fa-hand-point-right {
    display: none;
  }

  .container-skills .border-white {
    display: none;
  }
  // .container-skills btn-success {
  //   display: none;
  // }
  .fa-arrow-down-long, .fa-arrow-up-long {
    display: none;
  }

}
