.contact-body {
  min-height: 85vh;
 background-color: black;
 color: #EDB703;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10vh;
  & h1 {
    padding: 10vh;
  }
  & a:hover {
    opacity: 1;
  }
}

.contact-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  & a {
    color: #EDB703;
  font-size: 2rem;
  padding: 10px;
  opacity: 0.7;
  }
}
