main {
  font-family: "Poppins", sans-serif;
}

.btn-list {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  padding-right: 10vw;
  box-sizing: border-box;
  align-items: center;
  list-style-type: none;
}


.banner {
  min-height: 100vh;
  width: 100vw;
  background: url("./computer1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}


.big-text {
  padding-right: 10vw;
  width: 60vw;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 1rem;
  color: black;
  text-shadow: 0px 1px;
}


.transform-x-20 {
  transform: translateX(8vw);
  transition: 0.7s ease-out;
}

.transform-x-20-reverse {
  transform: translateX(-8vw);
  transition: 0.7s ease-out;
}

.transform-y-50 {
  transform: translateY(-50%);
  transition: 0.7s ease-out;
  // height: 0%;
}


.landing {
  min-height: 100vh;
  background-size: cover;
  // padding: 0rem 5rem;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

// .slider {
//   background: rgb(19, 18, 18);
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   transform: translateY(100vh);
// }


.hide {
  background: black;
  overflow: hidden;
  padding: 5px;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}




@media screen and (max-width:1065px){
  .big-text {
    font-size: 3em;
    letter-spacing: 0.8rem;
    font-weight: bolder;
    width: 80vw;
    text-align: right;

  }

  .big-text.mobile-menu {
    margin-left: 0;
  }

  .btn-list {
    padding-right: 15vw;
    width: 80vw;
  }

  .btn-warning {
    width: 140px;
  }

  .btn-warning a {
    font-size: 1.3rem;
  }

  .btn-danger {
    width: 140px;
  }

  .btn-danger a {
    font-size: 1.3rem;
  }

  .transform-x-20 {
    // transform: translateX(5vw);
    transition: 0.7s ease-out;
  }
}

@media screen and (max-width:750px) {

  .big-text {
    color: black;
    text-shadow: 0px 0px 1px black;
    font-size: 3.7rem;
    width: 100vw;
    padding: 5vh;
    text-align: center;
  }


  .btn-list {
    width: 100vw;
    padding: 5vh;
  }

  .transform-x-20 {
    transform: translateX(8vw);
    transition: 0.7s ease-out;
  }

  .transform-x-20-reverse {
    transform: translate(0);
  }
}

@media screen and (max-width:530px) {

  .banner {
    max-height: 100vh;
  }

  .big-text {
    text-align: center;
    font-size: 2.6rem;
    width: 100vw;
    letter-spacing: 0.5rem;
  }


  .transform-x-20 {
    transform: translateY(0vh);
  }

  .transform-x-20-reverse {
    transform: translate(0);
  }
}

@media screen and (max-width: 530px) {
    .btn-danger {
      width: 120px;
    }

    ;.btn-warning {
      width: 120px;
    }

    .btn-danger a {
      font-size: 1rem;
    }

    .btn-warning a {
      font-size: 1rem;
    }
}
@media screen and (max-width: 415px) {

    .big-text {
      width: 100vw;
      font-size: 2.2rem;
    }
    .btn-danger {
      width: 90px;
    }

    ;.btn-warning {
      width: 90px;
    }

    .btn-danger a {
      font-size: 0.8rem;
    }

    .btn-warning a {
      font-size: 0.8rem;
    }
}
@media screen and (max-width: 290px) {

    .big-text {
      width: 100vw;
      font-size: 1.8rem;
    }
    .btn-danger {
      width: 70px;
    }

    ;.btn-warning {
      width: 70px;
    }

    .btn-danger a {
      font-size: 0.5rem;
    }

    .btn-warning a {
      font-size: 0.5rem;
    }
}
