body {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: url();
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
