<h1>Bienvenu sur la liste des articles !</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%# <a href="/articles/<%= article.id %>
      <%=link_to article.title.capitalize, article %>
    </li>
  <% end %>
</ul>


<%= link_to "New Article", new_article_path %>
