<div class="footer">
  <div class="footer-links">
  <%# <div class="footer-text">
   <p>find me <i class="fa-solid fa-heart"></i> :</p>
  </div> %>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/adrien-schaffner/"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
</div>
