<h1>Pour me contacter</h1>

<p>par mail : </p>
<p>adrien.schaffner@gmail.com</p>

<p>sur les réseaux :</p>
<ul>
  <li></li>
</ul>

<p>où par ici :</p>


<p><%= link_to "qui suis-je", about_path %></p>
<p><%= link_to "home page", root_path %></p>
