<div class="contact-body">
  <h1>To contact me</h1>

  <p>by email : </p>
  <p>adrien.schaffner@gmail.com</p>

  <p>by phone :</p>
  <p>(+33) 07 80 33 26 28</p>

  <p>où par ici :</p>


  <p><%= link_to "qui suis-je", about_path %></p>
  <p><%= link_to "home page", root_path %></p>
</div>
