<div class="contact-body">

  <div class="contact-info">
    <h1>To contact me, it's easy !</h1>
    <p> <span class="underline">by email :</span></p>
    <p> <span class="white">adrien.schaffner@gmail.com</span> </p>

    <p> <span class="underline">by phone :</span></p>
    <p> <span class="white">(+33) 07 80 33 26 28</span></p>

    <p><span class="underline"> or send me a message on </span> :  </p>
    <div class="contact-nav">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/adrien-schaffner/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
