<h1>Slogan quelconque</h1>

<ul>
  <li><%= link_to "articles", articles_path %></li>
  <li><%= link_to "qui suis-je", about_path %></li>
  <li><%= link_to "me contacter", contact_path %></li>
</ul>
<p>Now is <%= Time.now %></p>
