<div data-controller="loader">
  <main>
    <section class="landing">
      <div class="banner">
        <h2 class="big-text">A bit of me and Product Management</h2>

        <div>
          <ul class="btn-list">
            <li><%= link_to "know me", about_path, class: "btn btn-warning btn-lg" %></li>
            <li><%= link_to "articles", "https://medium.com/@adrien.schaffner", target:"_blank", class: "btn btn-warning btn-lg" %></li>
            <li><%= link_to "hire me!", contact_path, class: "btn btn-success btn-lg"  %></li>
            <%# <li class="btn btn-outline-dark btn-lg"><%= link_to "hire me!", contact_path %>
          </ul>
        </div>
      </div>
    </section>
  </main>

  <div class="intro">
    <div class="intro-text">
      <h1 class="hide">
        <span class="text" data-action="load->hello#connect" data-hello-target="text">Discovery</span>
      </h1>
      <h1 class="hide">
        <span class="text" data-action="load->hello#connect" data-hello-target="text">Delivery</span>
      </h1>
      <h1 class="hide">
        <span class="text" data-action="load->hello#connect" data-hello-target="text">Repeat</span>
      </h1>
    </div>
  </div>
  <div class="slider"></div>
</div>
