
<div class="project-body">
  <h1>My projects</h1>

  <div class="border mb-5 col-xs-11
                col-sm-10
                col-md-9
                col-lg-9">
    <div class="center">
      <%= cl_image_tag "crushs_iqwwkb", alt: "crushs", height:300, crop: :fill, class: "img" %>
    <%# <a href="https://crushs.co">crushs.co</a> %>
      <%# <h3 class="project-title">CRUSHS</h3> %>
    </div>
    <div class="project-text">
      <h6 class="underline">To sum up :</h6>
      <p>A dating app focused on the essential</p>
      <h5 class="underline">What I learned ?</h5>
        <ul>
          <li>To do a deep market and user research</li>
          <li>To speak with people to get essential informations about their behavior and motivations</li>
          <li>To understand the differences between what they want and what they need</li>
          <li>To improve my Design Skills on Figma while developping an MVP (besides what is UX/UI design and why is it important)</li>
          <li>To work in team practicing Agile method</li>
          <li>To face technical difficulties with rails and try to solve it with my coworkers</li>
          <li>To make choices</li>
        </ul>
      <h5 class="underline">Why it didn't worked ?</h5>
      <p> As any project that failed to succeed we should be able to understand why. <br>
      In this case, we set up a deadline to finish in december, then release it, whatever we accomplished during 5 months. <br>
      At the end of the journey, we were unable to finish the product and to reach the target audience's interest. <br>
      But it wasn't a waste of time at all ! We learned what were our technical limits (besides we are working on it) and I personally
      practice as a Junior Product Manager to : </p>
      <ul>
        <li>better understand what a PM does</li>
        <li>better understand what a Product must be</li>
        <li>better understand why not every product succeed</li>
        <li>conduct customer interview</li>
        <li>Use Product tools as Notion, Figma & Trello</li>
      </ul>

      <p><span class="underline">status</span> : aborted</p>
    </div>
  </div>

  <div class="border mb-5 col-xs-12
                col-sm-10
                col-md-9
                col-lg-9">
    <div class="center">
      <%= cl_image_tag "jolya_dhssw2", alt: "Jolya", height:300, crop: :fill, class: "img" %>
      <%# <H3 class="project-title">JOLIA</h3> %>
    </div>
    <div class="project-text">
    <h6 class="underline">To sum up :</h6>
    <p>A fashion market place to rent clothes instead of buying them</p>
    <h5 class="underline">What am I doing ?</h5>
      <ul>
        <li>Conducting researches about customers habits & market opportunities</li>
        <li>Validating the idea by talking with customers to understand their needs and the jobs-to-be-done</li>
        <li>Building a MVP</li>
        <li>Iterating according metrics and users'feedbacks to meet their needs</li>
      </ul>

    <p><span class="underline">Status</span> : on going to build the perfect solution</p>
    </div>
  </div>
</div>
