.footer {
  position: static;
  // position: absolute;
  bottom: 0;
  background: #F4F4F4;
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 45px;
  width: 100vw;
  padding: 0;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #EDB703
}
