.footer {
  // position: absolute;
  margin: 0;
  position: static;
  bottom: 0;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 100vw;
  padding: 0;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  padding-left: 40%;
  align-items: center;
}
.footer-links a {
  color: #EDB703;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-text {
  padding-top: 7%;
  color: #EDB703;
}
