@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "components/navbar";
@import "components/button";
@import "components/footer";
@import "components/logo";
@import "components/avatar";
@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "config/color";
@import "config/font";
@import "articles/index";
@import "articles/show";
@import "articles/content";


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  width: 100vw;
  padding-top: 5vh;
  background-color: black;
  color: white;
}

// trix-toolbar {
//   display: none;
// }
