@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "components/navbar";
@import "components/footer";
@import "components/logo";
@import "components/avatar";
@import "pages/home";
@import "pages/about";
@import "config/color";
@import "config/font";


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
